a {
  color: #fff;
  display: inline-block;
  border-bottom: 0 solid transparent;

  &:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
    transition: border-bottom .2s ease-in-out;
    -webkit-transition: border-bottom .2s ease-in-out;
  }

  &:focus {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #ffffff;
    transition: border-bottom .2s ease-in-out;
    -webkit-transition: border-bottom .2s ease-in-out;
  }

  &.img1 {
    position: relative;
    margin-top: 20px;

    p {
      position: absolute;
      bottom: 30px;
      text-align: center;
      background-color: $color-osnovna-zelena;
      padding: 7px 15px;
      color: #fff;
      text-transform: uppercase;
      z-index: 3;
      font-weight: bold;
      font-size: 18px;
      left: 30px;
      letter-spacing: 2px;

    }


    &:hover::after {
      content:'';
        position: absolute;
        width: 300px;
        height: 80px;
        background-color: $color-osnovna-zelena;
        bottom: 1px;
        right: 20px;
    }

    &:before {
      content:'';
      position: absolute;
      width: 300px;
      height: 5px;
      background-color: $color-osnovna-zelena;
      right: 20px;
      z-index: 2;
    }
  }

  &.img2 {
      position: relative;
      margin-top: 20px;

    p {
      position: absolute;
      padding: 7px 15px;
      bottom: 30px;
      text-align: center;
      background-color: $box-front;
      color: #fff;
      text-transform: uppercase;
      z-index: 3;
      font-weight: bold;
      font-size: 18px;
      left: 30px;
      letter-spacing: 2px;
    }


      &:hover::after {
        content:'';
        position: absolute;
        width: 300px;
        height: 80px;
        background-color: $box-front;
        bottom: 1px;
        right: 20px;
      }

    &:before {
      content:'';
      position: absolute;
      width: 300px;
      height: 5px;
      background-color: $box-front;
      right: 20px;
      z-index: 2;
    }
    }

  &.img3 {
      position: relative;
      margin-top: 20px;

    p {
      position: absolute;
      bottom: 30px;
      padding: 7px 15px;
      text-align: center;
      background-color: $box-back;
      color: #fff;
      text-transform: uppercase;
      z-index: 3;
      font-weight: bold;
      font-size: 18px;
      left: 30px;
      letter-spacing: 2px;
    }

    &:hover::after {
      content:'';
      position: absolute;
      width: 300px;
      height: 80px;
      background-color: $box-back;
      bottom: 1px;
      right: 20px;
    }

    &:before {
      content:'';
      position: absolute;
      width: 300px;
      height: 5px;
      background-color: $box-back;
      right: 20px;
      z-index: 2;
    }
  }
}

