h1 {
  text-align: left;
  color: $color-naslov;
  margin-top: 20px;
  font-size: 48px;
  clear: both;

  span {
    border-bottom: 2px solid $color-naslov;
    padding-bottom: 5px;
  }
}

h2 {
  font-size: 20px;
  margin: 0 10%;
  margin-top: 30px;
  padding: 15px;
  display: inline-block;
}