.logo {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: #fff;
  color: #000;
  float: right;
  font-size: 40px;
  font-weight: bold;
  padding: 12px 10px;
  text-align: center;
}