.sadrzaj {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 50px;

  section {

    &:nth-child(1) {

      p {
        color: $color-osnovna-teget;
        font-size: 18px;
      }
    }
  }
}