// Colors
$color-osnovna-zuta: #f1c40f;
$color-osnovna-zelena: #cc1571;
$color-osnovna-teget: #000;
$color-osnovna-orange: #ff5b0f;

$color-heder: $color-osnovna-teget;
$color-naslov: $color-osnovna-zelena;

$box-color-1: #cdd422;
$box-color-2: #e74c3c;
$box-color-3: #e67e22;
$box-front: #a0c100;
$box-back: #00bbf1;

