<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZIR Accounting</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto"
          rel="stylesheet">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    <link rel="stylesheet" type="text/css"
          href="../libraries/css3-animate-it-master/css/animations.css"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Usluge</a>
            </li>
            <li>
                <a href="#">Proces</a>
            </li>
            <li>
                <a href="#">Kontakt</a>
            </li>
        </ul>
        <!--<img src="../static/img/logo.png&text=ZIR">-->
        <div class='animatedParent'>
            <div class="logo animated bounceInRight">ZIR</div>
        </div>

    </nav>
    <div class='animatedParent'>
        <h1 class='animated bounceInLeft'><span>ZIR Accounting</span></h1>
    </div>

</header>
<div class="row sadrzaj">
    <section class="col-lg-4">
        <div class="text">
            <div class="content"></div>
            <div class="dash"></div>
        </div>
    </section>
    <section class="col-lg-8 pull-right">
        <div class="box">
            <div class="front">
                <span>Knjigovodstvo</span>
                <p><i class="fa fa-book"></i></p>
            </div>
            <div class="back">
                <ul>
                    <li>Podusluga 1</li>
                    <li>Podusluga 2</li>
                    <li>Podusluga 3</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <div class="front">
                <span>Zavrsi racun</span>
                <p><i class="fa fa-files-o"></i></p>
            </div>
            <div class="back">
                <ul>
                    <li>Podusluga 1</li>
                    <li>Podusluga 2</li>
                    <li>Podusluga 3</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <div class="front">
                <span>Izvestaji</span>
                <p><i class="fa fa-bar-chart"></i></p>
            </div>
            <div class="back">
                <ul>
                    <li>Podusluga 1</li>
                    <li>Podusluga 2</li>
                    <li>Podusluga 3</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="col-lg-8 pull-right">
        <div class="box">
            <div class="front">
                <span>Knjigovodstvo</span>
                <p><i class="fa fa-handshake-o"></i></p>
            </div>
            <div class="back">
                <ul>
                    <li>Podusluga 1</li>
                    <li>Podusluga 2</li>
                    <li>Podusluga 3</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <div class="front">
                <span>Zavrsi racun</span>
                <p><i class="fa fa-cc-visa"></i></p>
            </div>
            <div class="back">
                <ul>
                    <li>Podusluga 1</li>
                    <li>Podusluga 2</li>
                    <li>Podusluga 3</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <div class="front">
                <span>Izvestaji</span>
                <p><i class="fa fa-calculator"></i></p>
            </div>
            <div class="back">
                <ul>
                    <li>Podusluga 1</li>
                    <li>Podusluga 2</li>
                    <li>Podusluga 3</li>
                </ul>
            </div>
        </div>
    </section>
</div>
<div class='animatedParent' data-sequence='500'>
    <h2 class='animated bounceInLeft' data-id='1'>Inovativne racunovodje</h2>
    <p class="opis-podnaslova">"Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
    <h2 class='animated bounceInLeft' data-id='1'>Strateske finansije</h2>
    <p class="opis-podnaslova">"Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
    <h2 class='animated bounceInLeft' data-id='1'>Moderan pristup</h2>
    <p class="opis-podnaslova">"Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
</div>
<section>
    <a href="#" class="img1"><img src="../static/img/slika1.jpg">
        <p>Prva slika</p></a>
    <a href="#" class="img2"><img src="../static/img/slika2.jpg">
        <p>Druga slika</p></a>
    <a href="#" class="img3"><img src="../static/img/slika3.jpg">
        <p>Treca slika</p></a>
</section>
<div class='animatedParent' data-sequence='500'>
    <h2 class='animated bounceInLeft' data-id='1'>Inovativne racunovodje</h2>
    <p class="opis-podnaslova">"Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
    <h2 class='animated bounceInLeft' data-id='1'>Strateske finansije</h2>
    <p class="opis-podnaslova">"Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
    <h2 class='animated bounceInLeft' data-id='1'>Moderan pristup</h2>
    <p class="opis-podnaslova">"Lorem ipsum dolor sit amet, consectetur adipiscing
        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit </p>
</div>
<footer>
    <div><i class="fa fa-facebook"></i></div>
    <div><i class="fa fa-twitter"></i></div>
    <div><i class="fa fa-instagram"></i></div>
    <div><i class="fa fa-linkedin"></i></div>
    <br>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../libraries/css3-animate-it-master/js/css3-animate-it.js"></script>
<script>
    (function () {
        var app;

        $(document).ready(function () {
            return app.init();
        });

        app = {
            text: "Dobro dosli u ZIR Accounting. Mi smo cool racunovodstvena agencija. " +
            "Dobro dosli u ZIR Accounting. Mi smo cool racunovodstvena agencija. Dobro dosli u ZIR Accounting. Mi smo cool racunovodstvena agencija. ",

            index: 0,
            chars: 0,
            speed: 80,
            container: ".text .content",
            init: function () {
                this.chars = this.text.length;
                return this.write();
            },
            write: function () {
                $(this.container).append(this.text[this.index]);
                if (this.index < this.chars) {
                    this.index++;
                    return window.setTimeout(function () {
                        return app.write();
                    }, this.speed);
                }
            }
        };

    }).call(this);

</script>
</body>
</html>